{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": "11",
          "safari": "9"
        }
      }
    ]
  ],

  "env": {
    "test": {
      "plugins": [["rewire-exports", {"unsafeConst": true}]]
    }
  }
}
