{
    "env": { "es6": true },
    "extends": [
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "plugins": [
        "mocha",
        "local-rules"
    ],
    "rules": {
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "no-undef": [0],
        "no-console": ["warn"],
        "no-unused-vars": ["error"],
        "mocha/no-skipped-tests": ["error"],
        "mocha/no-exclusive-tests": "error",
        "local-rules/disallow-timers": 2
    },
    "settings": {
       "mocha/additionalTestFunctions": [
           "describeModule"
       ]
    }
}
