{
    "env": { "es6": true },
    "extends": [
        "plugin:prettier/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    },
    "plugins": [
        "jest",
        "local-rules",
        "import"
    ],
    "rules": {
        "quotes": ["error", "double", {"avoidEscape": true}],
        "semi": ["error", "always"],
        "no-undef": [0],
        "no-console": ["warn"],
        "no-unused-vars": ["warn"],
        "import/exports-last": ["error"],
        "local-rules/disallow-timers": 2,
        "local-rules/require-bbc-header": 2,
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/valid-expect": "error"
    }
}
