/* Styles copied from Cage */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    width: 100%;
    height: 100%;
    background: #000 no-repeat scroll center center;
}

#local-game-holder {
    width: 100%;
    height: 100%;
    position: fixed;
}

.settings { position:absolute; top:25%; left:0; right:0; margin:auto; width:40%; padding:5%; z-index:1; text-align:center; background-color:#fff; color:#000; font-size:100%; }
.achievements { position:absolute; top:25%; left:0; right:0; margin:auto; width:40%; height: 40%; padding:5%; z-index:1; text-align:center; background-color:#fff; color:#000; font-size:100%; }
.achievements .achievements-container { height: 70%; overflow: auto; text-align: justify; }

.achievements-container details:nth-child(odd) summary { background-color: aliceblue; }
.achievements-container details:nth-child(even) summary { background-color: papayawhip; }

details[open] > summary { font-weight: bold; }

.debug #accessibility .gel-button {
    box-shadow: inset 0 0 10px rgba(0,128,255,0.7);
}
