html {
    background-color: #222;
    font-family: ReithSans;
}

body {
    margin: 0;
    background: #222;
    color: #ccc;
    font-family: ReithSans;
}

nav {
    float: inherit;
    background: #333;
    margin: 0;
    padding: 15px 15px 0 15px;
    height: 100%;
    border-left: 0;
    position: absolute;
    bottom: 0;
    width: 180px;
}

#ident {
    font-size:10px;
    color:#777;
}

#ident em {
    color: #888;
}

#main {
    float: inherit;
    position: relative;
    margin: 0 20px 0 200px;
    width: inherit;
    font-size: 16px;
}

h1 {
    margin: 0;
    color: #fff;
}

h4 {
    margin-top: 12px;
}

section {
    background-color: inherit;
    padding: 0;
    margin-right: 0;
    border-bottom: 0;
}

footer {
    position: relative;
    left: 200px;
    opacity: 0.4;
}

nav ul a,
nav ul a:visited,
nav ul a:active {
    font-family: inherit;
    color: #999;
}

.prettyprint {
    width: 80%;
    overflow: auto;
    border-radius: 8px;
    border: none;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    font-family: "Droid Sans Mono Dotted", "Droid Sans Mono", "Consolas", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    line-height: 15px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #111;
    color: #000;
}

.params,
.props {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.params .name,
.props .name,
.name code {
    color: #bbcc66;
    font-family: "Droid Sans Mono Dotted", Consolas, "Lucida Console", Monaco, monospace;
    font-size: 100%;
}

.params td,
.params th,
.props td,
.props th {
    border: 2px solid #111;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr,
.props thead tr {
    background-color: #1e1e1e;
    font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
    background-color: #1e1e1e;
    font-weight: bold;
}

.disabled {
    color: #454545;
}

article dl {
    margin-bottom: 0;
}

.description {
    margin-bottom: 0;
}

.details {
    margin-top: 14px;
    border-left: 6px solid #333;
    background: #282828;
    padding: 4px;
    border-left: 6px solid #333;
    font-size: 0.8em;
}

.details dt,
.details li {
    padding-top: 0;
}

tr > th:last-child {
    border-right: 2px solid #111;
}

.name,
.signature {
    font-family: inherit;
    color: #ffcc66;
}

.signature {
    color: #999;
}

.type-signature {
    color: #888;
    display: none;
}

a,
a:visited,
a:active {
    color: #e6711b;
}
